body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background-color: #181818;
  color: white;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2c2c2c; /* Color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #9f9f9f; /* Color of the scroll thumb */
  border-radius: 4px; /* Roundness of the scroll thumb */
  border: none;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1; /* Color of the scroll thumb on hover */
}

.settings-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

.settings-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.setting-group {
  margin-bottom: 20px;
  /* border: 1px solid #ddd; */
  padding: 15px;
  border-radius: 5px;
}

.setting-group h2 {
  font-size: 0.9em;
  font-weight: 500;
  color: #93cdfd;
  margin-top: 0;
  margin-bottom: 15px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* border-bottom: 1px solid #eee; */
}

.setting-item:last-child {
  border-bottom: none;
}

.setting-item label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.setting-item p {
  font-size: 0.9em;
  font-weight: 300;
  /* color: #666; */
  opacity: 0.6;
  margin-bottom: 0;
}

.setting-item-content {
  display: flex;
  align-items: center;
}

.setting-item-content input[type="text"],
.setting-item-content select,
.setting-item-content input[type="number"] {
  width: auto;
  padding: 5px;
  
	margin: 10px 0px;
	padding: 10px 10px;
	background-color: #ffffff05;
	border-width: 0px;
	color: white;
  border-radius: 0.5em;
}

.setting-item-content option {
  color: black;
}

textarea:focus, input:focus {
  outline: none;
}

.setting-item-content input[type="color"] {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  /* padding: 2px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

/* Switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#save-settings {
	font-size: 24px;
	font-weight: 500;
	background-color: #23b154;
	color: white;
	opacity: 0.8;
	border-width: 0;
	border-radius: 10px;
	padding: 10px 20px;
  margin: 10px 0px;
	width: 100%;
}

#save-settings:hover {
	opacity: 1;
	cursor: pointer;
}